<a href="https://colab.research.google.com/github/danthamGowthami/Firstemplate/blob/main/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
# It is very simple:
# Easily readable
# no strict syntax
# dynamically typed lang

In [24]:
#dynamically typed
a='hello'
print(type(a))
a=20
print(type(a))
a='$'
print(type(a))
a=40.5
print(type(a))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>

In [28]:
#{x=12 y=20 z=30}===={x,y,z=10,20,30}
a=b=c=20
print(a,b,c)

print(id(a),id(b),id(c))  # memory is allocated for value not for variable where as in c it creates memory for variable

# python contains no pointers instead of pointers we use id

20 20 20
93949213002848 93949213002848 93949213002848

In [32]:
a=b=c=20
print(a,b,c)
b=30
print(a,b,c) # "immutability:that cannot be changed" property of integers

print(id(a),id(b),id(c))
print(type(id(a)))

20 20 20
20 30 20
93949213002848 93949213003168 93949213002848
<class 'int'>

In [22]:
#how print() works

print("hello chikku")

print("""hello chikku""")

print('''hello chikku''')

print('hello chikku')

print('hello')
print('coders')
print('hello',end='@ ')
print('coders')
print('coders','welcome')

hello chikku
hello chikku
hello chikku
hello chikku
hello
coders
hello@ coders
coders welcome

In [37]:
# how input() works
x=input("enter a value: ")
y=input("enter another value: ")# any input is accepted as string so x+y return a concatenated output
print(type(x))
#to avoid this we need to convert it in int
x=int(input("enter a value: "))

y=int(input("enter another value: "))
print(x+y)

enter a value: 4
enter another value: 3
<class 'str'>
enter a value: 4
enter another value: 4
8

In [51]:
#how split() works:

x=input("enter values: ")
print(type(x))
val=x.split()
print(val)# returns a list
val=[int(i) for i in x.split()]
print(val)
x='h e l l o'
y=x.split()
print(y)

enter values: 7 5 6
<class 'str'>
['7', '5', '6']
[7, 5, 6]
['h', 'e', 'l', 'l', 'o']

In [43]:
# properties of list
     # collection any data typed values (heterogenous)
 li = ['hello',30,28,'$']
 print(li)
 print(type(li))

IndentationError: ignored

In [46]:
# sort() and reverse()
li=[12,20,3,58,49]
li.sort()
print(li)
li.reverse()
print(li)

[3, 12, 20, 49, 58]
[58, 49, 20, 12, 3]

In [47]:
# slicing:
li=[12,20,3,58,49]
print(li[0:4]) #[startindex:endindex]

[12, 20, 3, 58]

In [48]:
 li = ['hello',30,28,'$']
 print(li)
 print(type(li))

['hello', 30, 28, '$']
<class 'list'>

In [49]:
li=[int(i)for i in input('enter values: ').split()]

enter values: 18 20 27 29